# Python
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data
data/raw/
data/processed/

# Chroma DB
chroma_db/

# Python
__pycache__/
*.py[cod].DS_Store


# Environment Variables
.env